* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
MANIFEST.in text eol=lf
LICENSE text eol=lf
requirements-lock.txt text eol=lf
*.py text eol=lf
*.md text eol=lf
*.html text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
